<h1> <%= @job.title %> </h1>

<h2> <%= @job.company %> </h2>

<p>
    <%= @job.location %>
</p>

<p>
    <%= @job.description %>
</p>
<p>
    <%= @job.skills %>
</p>

<% if is_logged_in? %>
    <p>
        <%= link_to 'Edit', edit_job_path(@job) %>
        <%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}%>    
    </p>
<% end %>

<%= render 'go_back' %>