<h1> <%= @job.title %> </h1>

<h2> <%= @job.company %> </h2>

<p>
    <%= @job.location %>
</p>

<p>
    <%= @job.description %>
</p>
<p>
    <%= @job.skills %>
</p>

<p>
    <%= link_to 'Edit', edit_job_path(@job) %>
</p>

<%= render 'goback' %>