<h1> Create new User </h1>

<%= form_for @user do |f| %>
<p>
    <%= f.label :email %>
</p>
<p>
    <%= f.text_field :email %>
</p>
<p>
    <%= f.label :password %>
</p>
<p>
    <%= f.text_field :password %>
</p>
<p>
    <%= f.label :password_confirmation %>
</p>
<p>
    <%= f.text_field :password_confirmation %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>