<!DOCTYPE html>
<html>
  <head>
    <title>Linuxjobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>    
    <%= link_to 'Seach Job', jobs_path %>    
    <%= link_to 'Sign up', new_user_path %>
    
    <% if is_logged_in?%>
      <%= link_to 'New Job', new_job_path %>    
      <%= link_to 'Logout', session_path(current_user.id), method: :delete %>
    <%else%>
      <%= link_to 'Sign in', new_session_path %>
    <%end%>    
        
    <%= yield %>
  </body>
</html>